<section>
  <h1>Notable Posts</h1>
  <ul>
	  <li><a href="http://www.jamaicaobserver.com/business/Jamaica-made-web-solutions-at-US-5k-a-pop---">A Profile about What I Do (Jamaica Observer)</a></li>
	  <li><a href="http://techcrunch.com/2012/09/30/an-analysis-of-market-demand-for-web-programming-languages/">An Analysis of Market Demand for Web Programming Languages (Techcrunch)</a></li>
	  <li><a href="http://coding.smashingmagazine.com/2012/05/24/beginners-guide-ruby/">Beginner's Guide to Ruby (Smashing Magazine)</a></li>
	  <li><a href="http://sixrevisions.com/web-development/tips-first-web-app/">Tips for building your first web app</a></li>
	  <li><a href="http://www.marcgayle.com/2011/09/30/hackers-guide-to-cashflow-vs-profit/">Hacker's Guide to Cash Flow vs Profit</a></li>	  
	  <li><a href="http://www.marcgayle.com/2011/01/24/how-dropbox-is-printing-money/">How Dropbox is printing money</a></li>	  
  </ul>
		  
</section>
